<div class="mb-3">
  <h6 class="text-white px-3">⚙ Settings</h6>
  <ul class="nav flex-column small">
    <li class="nav-item">
      <a class="nav-link text-white px-3" href="{% url 'masterdata:examname_list' %}">Exam Names</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white px-3" href="{% url 'masterdata:examtype_list' %}">Exam Types</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white px-3" href="{% url 'masterdata:referrer_list' %}">Referrers (Doctors)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white px-3" href="{% url 'masterdata:sonologist_list' %}">Sonologists</a>
    </li>
  </ul>
</div>
